{% extends 'board/index.html' %}

{% block title %}
Creating comment
{% endblock title %}

{% block content %}
    <div class="space-10">
        <h4>Create response</h4>
    </div>
    <form method="POST">
        {% csrf_token %}
        <div class="space-10">
            {% for field in form %}
                {{ field.label_tag }}<br>
                {{ field }}<br>
            {% endfor %}
        </div>
        <div class="space-10">
            <input type="submit" value="Send">
        </div>
    </form>
{% endblock content %}
