{% extends 'board/index.html' %}

{% block title %}
Private page
{% endblock title %}

{% block content %}
    <h1 class="space-h">All responses ({{ paginator.count }}) to <i>{{ request.user.username }}</i> posts</h1>
    <!-- condition for SearchListView-->
    {% if filter %}
        <div class="space-h">
            <form method="GET">
               {{ filter.form }}
               <input type="submit" value="Search">
            </form>
            <br>
        </div>
    {% endif %}

    {% if personal %}
        {% for comment in personal %}
            <!-- block of post comments -->
            <div class="space-12">
                by <i>{{ comment.author }}</i><br>
                {{ comment.pub_date|date:'d F G:i:s, Y' }}<br>
                {{ comment.text }}<br>
                <!-- Delete & Accept buttons below [fix links] -->
                <a class="btn btn-danger" href="{% url 'comment_delete' comment.id %}" role="button">Delete</a>
                {% if comment.accept %}
                <a class="btn btn-warning" href="{% url 'comment_decline' comment.id %}" role="button">Decline</a>
                {% else %}
                <a class="btn btn-success" href="{% url 'comment_accept' comment.id %}" role="button">Accept</a>
                {% endif %}
            </div>
        {% endfor %}

    {% else %}
        <h4>Why is there no posts here?</h4>
    {% endif %}

    {% if is_paginated %}
        <!-- first page -->
        {% if page_obj.has_previous and page_obj.number > 2 %}
            <a href="?page=1&{{ params }}"><<<</a>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <a>{{ num }}</a>
            {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}&{{ params }}">{{ num }}</a>
            {% endif %}
        {% endfor %}

        <!-- last page -->
        {% if page_obj.has_next and page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
            <a href="?page={{ page_obj.paginator.num_pages }}&{{ params }}">>>></a>
        {% endif %}
    {% endif %}

{% endblock content %}
